//pioneers, friends...
@font-face {
    font-family: "Colour Me Purple";
    src: url('../fonts/Colour\ Me\ Purple.ttf') format('truetype');
}

//Platform Ticket
@font-face {
    font-family: "Smythe";
    src: url('../fonts/Smythe-Regular.ttf') format('truetype');
}

//bold caps text
@font-face {
    font-family: "Cabin";
    src: url('../fonts/Cabin-VariableFont_wdth\,wght.ttf') format('truetype');
}

//other
@font-face {
    font-family: "Piazzolla";
    src: url('../fonts/Piazzolla-VariableFont_opsz\,wght.ttf') format('truetype');
}

@font-face {
    font-family: "Mollen";
    src: url('../fonts/Mollen-RegularPersonalUse.otf') format('opentype');
}

//font variable declarations
$host-names-font: "Piazzolla";
$host-occ-font: "Mollen";

$date-main-font: "Cabin";


$reunion-font: "Cabin";

$group-font: "Colour Me Purple";
$ticket-font: "Smythe";
$date-side-font: "Piazzolla";
$advice-font: "Mollen";
$company-font: "Colour Me Purple";
