@use '../layout/grid';
@use '../base/typography' as type;

.header {
    padding: .25rem;
    border: 2px solid black;
}

.host {
    &__names {
        font-family: type.$host-names-font;
        font-variant: small-caps;
        font-weight: 600;
        letter-spacing: .1ch;
        word-spacing: .3ch;
        font-size: 1.1rem;
    }

    &__occ {
        font-family: type.$host-occ-font;
        word-spacing: .2ch;
        font-size: 1.1rem;
        font-weight: 600;
    }
}

.date {
    font-family: type.$date-main-font;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 700;
    font-stretch: 83.2%;
    letter-spacing: 0.006em;
    font-style: normal;
    line-height: 43px
}

.reunion {
    font-family: type.$reunion-font;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .2ch;
}

.group {
    font-family: type.$group-font;
    font-size: 2rem;
    font-weight: 600;
}

.platform {
    font-family: type.$ticket-font;
    text-transform: uppercase;
    font-size: 3.4rem;
    font-weight: 800;
    line-height: 60px;
    word-spacing: .4ch;

    &--letter {
        letter-spacing: .09em;
    }

    &--side {
        font-size: 3.1rem;
        line-height: 45px;
    }
}

.place {
    font-family: type.$place-font;
    font-size: 1.5rem;
    font-weight: 700;
}

.short-date {
    font-family: type.$date-side-font;
    font-size: 2rem;
    font-weight: 900;
    line-height: 35px;
    word-spacing: .5ch;
    font-variation-settings: "opsz" 8;
    padding-block-end: .4rem;
}

.advice {
    font-family: type.$advice-font;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 33px;
}

.company {
    font-family: type.$company-font;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: .23ch;
    word-spacing: .2ch;
    line-height: 20px;
    padding-inline-start: 1rem;
}