.container {
    width: 100%;
    height: 100%;
    margin-inline: auto;
    margin-block: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.ticket {
    inline-size: 800px;
    block-size: 330px;
    background-image: url('../images/ticket-bkgd.png');
    padding-inline-start: 1rem;
    padding-inline-end: 3rem;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    text-align: center;
    align-items: flex-start;

    &__main {
        display: grid;
        width: 500px;
    }

    &__side {
        grid-column: 2;
        justify-self: flex-start;
        display: grid;
        writing-mode: vertical-rl;
        
        .line {
            width: 2px;
            height: 300px;
        }
    }
}